<h1>Keyboard shortcuts:</h1>

<h3>Select whole words left/right:</h3> Ctrl Shift Left/Right<br>
<h3>Select whole word:</h3> Ctrl D<br>
<h3>Delete whole words:</h3> Ctrl Backspace<br>
<h3>Copy whole line:</h3> Alt Shift Up/Down<br>
<h3>Add cursor above/below</h3> Ctrl Alt Up/Down<br>
<h3>Column Selection</h3> Shift Alt Drag

<h1>What are &lt;% and %&gt; symbols called and used for?</h1>
<h5>The official name is "server-side scripting delimiters" or "ASP.NET inline expressions". Visual Studio 2008 syntax highlighting settings dialog calls these "HTML Server-Side Script". Microsoft guys call them "code nuggets" in their blogs. <br><a href="https://stackoverflow.com/questions/649428/asp-net-special-tags/649458#649458">Source</a></h5>
<ul>
    <li><b>&lt;%@ %&gt;</b><br> is a Directive for ASP.NET Web Pages. Used for pages and controls to configure page/control compiler settings (&lt;%@ Control Inherits="MyParentControl" %&gt;).</li></b>
 <li><b>&lt;% %&gt;</b><br> is a Code Render Block (for inline code). One of 4 forms of Embedded Code Blocks. Used for inclusion of server-side code to the Render() method (&lt;% x = x + 1; %&gt;) of the generated class. Format: single/multiline or multiple-linked (e.g. if/then/else interspersed with html) but cannot be used to declare functions.</li></b>
    <li><b>&lt;%= %&gt;</b><br> is a Code Render Block (for inline expressions). Used as a shorthand for &lt;%Response.Write(value)%&gt;</li></b>
    <li><b>&lt;%: %&gt;</b><br> (unofficially an "Html Encoding Code Block") is the same as previous, but the output is HTML encoded.</li></b>
    <li><b>&lt;%# %&gt;</b><br> is a Data-binding Expression. Used for one-way (readonly) or two-way (updateable) binding through Eval, Xpath, Bind, or expressions (e.g. the selected value of a drop-down control). Binds expressions to data-bound control properties through the control's attribute markup, or as a separate tag which generates a DataBoundLiteralControl instance with the value on its Text property. Expressions are evaluated by a DataBinding event handler for the control.</li></b>
    <li><b>&lt;%#: %&gt;</b><br> is an HTML Encoded Data-Binding Expression (new in ASP.NET 4.5). It combines the functionality of &lt;%# %&gt; and &lt;%: %&gt;.</li></b>
    <li><b>&lt;%$ %&gt;</b><br> is an ASP.NET Expression Builder. Used for runtime expression binding for control properties through the server tag attributes. Used with AppSettings, ConnectionStrings, or Resources (or your own custom extension, for example to use code-behind properties). These assignments are added to the OnInit() method of the generated class.</li></b>
   <li><b>&lt;%-- --%&gt;</b><br> is a Server-Side Comment. Used to exclude the contents from compilation (and so will generate errors if a commented-out control is referred to in code-behind). Unlike html comments the contents will not be included in the output.</li>

</ul>
