<h1>Keyboard shortcuts:</h1>

<h3>Select whole words left/right:</h3> Ctrl Shift Left/Right<br>
<h3>Select whole word:</h3> Ctrl D<br>
<h3>Delete whole words:</h3> Ctrl Backspace<br>
<h3>Copy whole line:</h3> Alt Shift Up/Down<br>
<h3>Add cursor above/below</h3> Ctrl Alt Up/Down<br>
<h3>Column Selection</h3> Shift Alt Drag
